.home-main {
  margin-top: 10px;
  position: relative;
  bottom:0%;
  top:0%;
}

@media (max-width: 638px) {
  .overlay {
    position: fixed;
    z-index: 9999;
    height: 75%;
    background-color: #EDE0D4;
    padding: 3em;
    border-radius: 0.2em;
    overflow-y: scroll;

  }
  .add-word-form {
    padding: 0 !important;
  }
}

.overlay.closed {
  height: 0%;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgba(24,24,24,.7);
  overflow-y: scroll;
  transition: 0.5s;
}
  .add-word-form{
    color: white;
    padding: 2em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 1em;
    label {
      color: white;
    }
}

.filter-sidebar.closed {
  width: 0%;
}

.filter-sidebar {
  height: 100%;
  width: 70%;
  max-width: 40em;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:rgba(24,24,24,.7);
  overflow-y: scroll;
  transition: 0.5s;

  ul {
    list-style: none;
  }

  .filter-menu {
    margin-top: 6em;
    bottom: 0;
    .filter-tiles{
      border-radius: 0.5em;
      display: inline-block;
      box-shadow: rgba (0, 0, 0, .24) 0px 3px 8px;
      text-align: center;
      padding: 0.5em;
      margin-left: 2em;
      margin-top: 2em;
      background-color: #ffffff;
      width: 10em;
      font-size: 1.4em;
    }
  }
}

@media (max-width: 638px) {
  .filter-tiles{
    text-align: left !important;
    padding: 0.5em !important;
    margin-left: 0.5em !important;
    margin-top: 0.5em !important;
    width: 8em !important;
  }
}


.new-word-not-signed {
  text-align: center;
}

.select-new{
  width: fit-content;
  max-width: 18em;
}