.landing-main {
  width: 100vw;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  background-color: #eccfb2;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-page-redirect {
  color: black;
  font-size: x-large;
  border-radius: 3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffffff;
  max-width: fit-content;
  margin: auto;
  margin-top: 2em;
  padding:1em;
}
.main-page-redirect:hover{
  color:rgb(255, 0, 0);
  background-color: #eaeaea;
}

.redirect-container{
  margin-top: 2em;
  margin-bottom: 2em;
}

