

.logo {
  margin-left: 1em;
  width:6%;
}

.top-bar {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 2em;
  border-radius: 1em;
}

.about {
  margin-left: -1em;
}

.link {
  font-size: x-large;
  color:black;
  margin-left: 3em;
  background-color: #EDE0D4;
  border: solid 1px rgb(209, 163, 111);
  border-radius: 5px;
  padding-bottom: -4em;
}

.link:hover {
  color:rgb(255, 0, 0);
  background-color: #e9d6c3;
}

.profilebtn {
  margin-top: .75em;
}
.sign-out{
  padding: .475em;
  margin-right: 1em;
}
.sign-up{
  margin-right: 1em;
}

.menu {
  align-items: center;
}

.main {
  height:1500px;
  width: 100vw;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  background-color: #eccfb2;
  background-size: cover;
  background-repeat: no-repeat;
}