
.wordCloud-button {
  font-size: large;
  border-radius: 1em;
  background-color: #EDE0D4;
  border: solid 1px rgb(209, 163, 111);
  border-radius: 5px;
  padding: .75em;
  margin-top: 1em;
  margin-left: 0;
}

.wordCloud-button:hover {
  color:rgb(255, 0, 0);
  background-color: #e9d6c3;
}


.cloud-button {
  text-align: center;
}


.profile-left{
  position: relative;
}
.profile-right{
  position: relative;
}

.cloudies {
  border: 2px solid #ddb892;
  border-radius: 0.5em;
}

.select{
  position:absolute;
  margin:auto;
  margin-top: 1em;
  max-width: 80%;
}


