
.word-tile {
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #ffffff;
  max-width: 60%;
}

.word-properties{
  text-align: center;
  font-family: serif;
  .word-title {
    font-size: x-large;
  }
}

.tile-buttons{
  display:inline-flex;
}
.delete-icon{
  float: left;
}
.edit-icon{
  margin-left: 1em;
  float: right;
}

.tag-tile {
  border-radius: 0.5em;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  padding: .5em;
  margin-left: 2em;
  margin-top: 2em;
  background-color: #ffffff;
  width: 7em;
}

