@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import './stylesheets/Colors.scss';
@import "./stylesheets/LandingPage.scss";
@import "./stylesheets//HomePage";
@import "./stylesheets/ProfilePage";
@import "./stylesheets/Word-Tile";

@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo {
  max-width: 5em;
  align-items: center;
  height: auto;
}
.logo:hover {
  opacity: 80%;
}

.sign-in{
  margin-left: 0;
  border-radius: .2em;

}
.top-bar {
  padding: 1em;

  .top-bar-left{
    max-width: 30%;
  }
  .top-bar-right{
    margin: auto 0;

    .profilebtn {
      margin-top: .75em;
    }
  }
  .sign-out{
    margin-top: .75em;
    padding: .45em;
  }
}

body{
  background-color: #eccfb2;
  font-family: serif;
}


:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
