@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import './stylesheets/Colors.scss';
@import "./stylesheets/LandingPage.scss";
@import "./stylesheets//HomePage";
@import "./stylesheets/ProfilePage";

@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

// html{
//   background-color: black;
// }

body{
  background-color: #eccfb2;
}


:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
