@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import './stylesheets/Colors.scss';

@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

.word-tile {
  border: 2px solid $beige;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: $light-beige;
  max-width: 40%;
}
.button {
  margin-left: 30%;
}

.hidden {
  visibility: hidden;
}

.add-word-form{
  border: 2px solid $beige;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: $light-beige;
  max-width: 40%;
}

.filter-form {
  text-align: center;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
